{% extends 'inventory/inventory.html' %}
{% block tile %}Dashboard{% endblock tile %}
{% block page_title %}Dashboard{% endblock page_title %}

{% block stock %}
    <div class="mb-4 pb-2 fs-2" style="color: rgb(50,50,50); border-bottom: 1px solid rgb(200,200,200);">
        Dashboard
    </div>
    <div class="mb-5 container-fluid">
        <div class="row justify-content-around">
            <div id="boxes" class="d-flex col-md-3 align-items-center fs-5">
                <i class="bi bi-box-seam" style="margin-right: 10px; margin-left: 10px;"></i>Total Cost: <span class="fs-3" style="margin-left: 15px;">${{ total_cost }}</span>
            </div>
            <div id="boxes" class="d-flex col-md-3 align-items-center fs-5">
                <i class="bi bi-box-seam" style="margin-right: 10px; margin-left: 10px;"></i>Total Revenue: <span class="fs-3" style="margin-left: 15px;">${{ total_revenue }}</span>
            </div>
            <div id="boxes" class="d-flex col-md-3 align-items-center fs-5">
                <i class="bi bi-box-seam" style="margin-right: 10px; margin-left: 10px;"></i>Total Profit: <span class="fs-3" style="margin-left: 15px;">${{ profit }}</span>
            </div>
        </div>
    </div>
{% endblock stock %}
{% block table %}
    <div class="row">
        <!--Doughnut chart for Sales/Revenue/Profit-->
        <div class="col-md-4">
            <div>
                <canvas id="doughnutChart"></canvas>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

            <script>
                const ctxDoughnut = document.getElementById('doughnutChart');
                
                new Chart(ctxDoughnut, {
                    type: 'doughnut',
                    data: {
                    labels: ['Total Cost', 'Total Revenue', 'Total Profit'],
                    datasets: [{
                        label: 'Financial Metrics',
                        data: [{{ total_cost }},{{ total_revenue }},{{ profit }}],
                        borderWidth: 1
                    }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                            position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Cost vs. Revenue vs. Profit'
                            }
                        }
                    },
                });
            </script> 
        </div>

        <div class="col-md-4">
            <!--Line chart for Sales-->
            <div>
                <canvas id="lineChart"></canvas>
            </div>
            <script>
                const ctxLine = document.getElementById('lineChart');
                
                new Chart(ctxLine, {
                    type: 'line',
                    data: {
                    labels: ['# of Sales'],
                    datasets: [{
                        label: '# of Sales',
                        data: [{{ purchase_count }}],
                        borderWidth: 1
                    }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                            position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Sales per Day'
                            }
                        }
                    },
                });
            </script>  
        </div>

        <div class="col-md-4">
            <!--bar chart for Products-->
            <div>
                <canvas id="barChart"></canvas>
            </div>
            <script>
                const ctxBar = document.getElementById('barChart');
                
                new Chart(ctxBar, {
                    type: 'bar',
                    data: {
                    labels: [{% for item in item_count %}'{{ item.item }}'{% endfor %}],
                    datasets: [{
                        label: '# of Sales',
                        data: [{% for item in item_count %}{{ item.count }}{% endfor %}],
                        borderWidth: 1
                    }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                            position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Product Sold'
                            }
                        }
                    },
                });
            </script>  
        </div>
    </div>
{% endblock table%}
{% block form %}{% endblock form %}

<!--add chart to measure sales per day, most purchased item, and sales vs revenue vs cost-->
<!--line graph, bar chart, pie graph-->

