<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inventory</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/styles.css' %}">
</head>
<body>
    <h1>Inventory</h1>
    <table class="spreadsheet">
        <thead>
            <tr>
                <th>Item</th>
                <th>Quanity</th>
                <th>Unit</th>
                <th>Unit Price</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.quantity }}</td>
                <td>{{ ingredient.unit }}</td>
                <td>{{ingredient.unit_price}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>