<!DOCTYPE html>
<html lang="en">
<head>
    <title>Menu</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/styles.css' %}">
</head>
<body>
    <header>
        <h1>Inventory Tracker</h1>
    </header>
    <h2>Menu</h2>
    <div class="sidebar">
        <h2 id='bar'>Main Menu</h2>
            <div><a href="{% url 'ingredients_list' %}">Ingredients List</a></div>
            <div><a href="{% url 'menu_items' %}">Menu Items</a></div>
            <div><a href="{% url 'recipe_requirements' %}">Recipe</a></div>
            <div><a href="{% url 'purchase_log' %}">Purchase Log</a></div>
    </div>
    <div>
    <table class="spreadsheet">
        <thead>
            <tr>
                <th>MENU ITEM</th>
                <th>PRICE</th>
            <tr>
        </thead>
        <tbody>
            {% for food in menu %}
            <tr>
                <td>{{ food.item }}</td>
                <td>${{ food.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>