<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add New Menu Item</title>
    </head>
    <body>
        <h1>Add a New Menu Item</h1>
        <form method="post">
            {% csrf_token %}
            <label for="item">Item Name:</label>
            <input type="text" id="item" name="item" required><br>

            <label for="price">Price:</label>
            <input type="number" id="price" name="price" required><br>

            <input type="submit" value="Add Menu Item">
        </form>
    </body>
</html>